/* Global */
body {background: #eee url("/img/swirl_pattern.png");position:relative;}
body:before {content: '';position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: #fff;opacity: .5;}

h1,h2,h3,h4,h5,h6{font-family: 'Raleway', sans-serif;color:#fff;}

.ui.container {
    /*width:800px;*/
    margin-bottom:30px;
    position:relative;
}
#work .ui.grid>.row>.column {
    display: flex;
    margin-bottom: 30px;
}
.ui.horizontal.list.social>.item>i.icon {font-size: 24px;}
#work .ui.grid,
#stats>.ui.grid {margin-top:1em;}

.ui.progress>.label {top:0;}
.ui.progress>.bar {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.ui.progress.html>.bar {width:90%;}
.ui.progress.css>.bar {width:90%;}
.ui.progress.js>.bar {width:80%;}
.ui.progress.csharp>.bar {width:55%;}
.ui.progress.ruby>.bar {width:40%;}
.ui.progress.sqlserver>.bar {width:25%;}